
#####=== Node ===#####
config/config.js
wulu/build/mongo.js
config/chatrooms.json
config/custom.css
config/usergroups.csv

/config/*
/logs/*
/node_modules
/gulp-cache
npm-debug.log

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt


# Configuration
config/config.js
wulu/build/mongo.js

config/commands.js
static/
config/commands.js